<h3>ข้อมูลทั่วไป</h3>
<div fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="start start">
        <mat-icon>call</mat-icon>
        <span style="padding-left: 10px;flex-grow: 3;">{{(model | async).customerPhoneNo}}</span>
    </div>
    <hr>
    <div fxLayout="row wrap" fxLayoutAlign="start start">
        <mat-icon>language</mat-icon>
        <span style="padding-left: 10px;flex-grow: 3;">{{(model | async).customerWebSite}}</span>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-icon>place</mat-icon>
        <span style="padding-left: 10px;flex-grow: 3;">{{(model | async).customerAddress}}</span>
    </div>
</div>
