<mat-drawer-container>
    <mat-drawer class="left-panel" mode="side" opened="true" position="start">
        <mat-toolbar class="mat-toolbar-header">
            <div fxLayout="column wrap" class="contact-header">
                <div fxLayout="row wrap" fxFlex>
                    <div fxFlex="10" fxLayoutAlign="center center">
                        <mat-icon>dehaze</mat-icon>
                    </div>
                    <div fxFlex="10" fxLayoutAlign="center center">
                        All
                    </div>
                    <div fxFlex="80" fxLayoutAlign="end center">
                        <mat-icon matPrefix style="padding-left: 50px;">search</mat-icon>
                        <input matInput type="search" placeholder="ค้นหา" style="padding-left:10px;"
                            [(ngModel)]="search">
                    </div>
                </div>
            </div>
        </mat-toolbar>
        <app-left-form (chat)="openChat($event)" [model]="chatService.onDataChangedObservable$"></app-left-form>
    </mat-drawer>
    <mat-drawer-content class="content-panel">
        <mat-toolbar class="mat-toolbar-header">
            <div fxLayout="row wrap" class="contact-header" fxFlex>
                <div fxLayoutAlign="start center" fxFlex="50">
                    <div>
                        <div mat-card-avatar class="avatar-header" style="background-image: url('{{user.image}}');">
                        </div>
                    </div>
                    <div style="font-size: large; padding-left: 10px;">
                        {{user.name}}
                    </div>
                </div>
                <div fxLayoutAlign="end center" fxFlex="50">
                    <button mat-stroked-button style="margin-right: 10px;">
                        Follow Up
                    </button>
                    <button mat-stroked-button style="margin-right: 10px;">
                        Resolve
                    </button>
                    <button mat-stroked-button style="margin-right: 10px;">Search</button>
                    <button mat-icon-button style="color: rgb(192, 192, 192);" *ngIf="drawerCheck"
                        (click)="toggleDrawerLeft(false)">
                        <mat-icon>skip_previous</mat-icon>
                    </button>
                </div>
            </div>
        </mat-toolbar>
        <div fxLayoutAlign="center stretch" class="image-no-message" *ngIf="checkChat">
            <img class="image-no-message" src="../../../assets/images/logo/54856ab427f28a0b40b1a305792a3b00.png">
        </div>
        <div fxFill *ngIf="!checkChat">
            <div fxLayout="column" *ngFor="let chat of chatData | reverse">
                <div fxLayout=" row wrap" class="message-you" *ngIf="chat.from.id !== pageID">
                    <!-- <div *ngIf="contactImage" mat-card-avatar class="avatar-chat" style="background-image: url('{{contactImage}}');">
                    </div> -->
                    <img *ngIf="contactImage" mat-card-avatar class="avatar-chat" src="../../../../assets/images/default-user-image.png">
                    <div fxLayoutAlign="start center" class="chat-text-you">
                        {{chat?.message}}
                    </div>
                </div>
                <div fxLayout="row wrap" class="message-me" fxLayoutAlign="end stretch" *ngIf="chat.from.id === pageID">
                    <div fxLayoutAlign="start center" class="chat-text-me">
                        {{chat?.message}}
                    </div>
                </div>
            </div>
        </div>
        <footer class="mat-toolbar-footer">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="start center" style="width: 100% !important;" fxFlex>
                    <textarea matInput placeholder="Enter your message here..." [(ngModel)]="send"
                        (keyup.enter)="sendMessage()" fxFlex>
                    </textarea>
                    <button mat-flat-button style="cursor: pointer;" (click)="sendMessage()">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </footer>
    </mat-drawer-content>
    <mat-drawer #drawer class="right-panel" mode="side" opened="true" position="end" fxLayout="column"
        fxLayoutAlign="start center">
        <mat-toolbar class="mat-toolbar-header">
            <div fxLayout="row wrap" fxFlex="1 0 auto">
                <div fxLayoutAlign="start stretch" fxFlex="50">
                    <div fxLayoutAlign="center stretch">
                        <button mat-icon-button style="padding: unset;color: rgb(192, 192, 192)"
                            (click)="toggleDrawerRight(true)">
                            <mat-icon>skip_next</mat-icon>
                        </button>
                    </div>
                    <div fxLayoutAlign="center stretch">
                        <button mat-icon-button style="color: rgb(192, 192, 192);">
                            <mat-icon>home</mat-icon>
                        </button>
                    </div>
                    <div fxLayoutAlign="center stretch">
                        <button mat-button [matMenuTriggerFor]="menu">
                            Basic
                            <mat-icon class="mat-18">arrow_drop_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>item1</button>
                            <button mat-menu-item>item2</button>
                        </mat-menu>
                    </div>
                </div>
                <div fxLayoutAlign="end center" fxFlex="50" style="padding-right: 5px;">
                    <button mat-icon-button style="color: rgb(192, 192, 192);">
                        <mat-icon>home</mat-icon>
                    </button>
                </div>
            </div>
        </mat-toolbar>
        <app-right-form [model]="user"></app-right-form>
        <div fxLayout="row wrap" class="panel-right-note">
            <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="start center">
                <div fxLayoutAlign="center center">
                    Notes
                </div>
                <div fxLayoutAlign="center center" style="padding-left: 5px; color: rgb(192, 192, 192);">
                    0
                </div>
            </div>
            <div fxFlex="50" fxLayoutAlign="end center" [routerLink]="['/note']">
                <button mat-icon-button style="color: rgb(85, 197, 74);">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div fxFlex="1 0 auto" fxLayout="column wrap" fxLayoutAlign="center stretch" style="height: 30vh;">
                <div fxLayoutAlign="center center">
                    <label>No notes found.</label>
                </div>
                <div fxLayoutAlign="center center">
                    <label>Click "+" in the top right to create one.</label>
                </div>
            </div>
        </div>
    </mat-drawer>
</mat-drawer-container>