<h3>ข้อมูลทั่วไป</h3>
<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-icon>call</mat-icon>
        <span style="padding-left: 10px;flex-grow: 3;">{{(model | async).contactPhoneNo}}</span>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-icon>local_post_office</mat-icon>
        <span style="padding-left: 10px;flex-grow: 3;">{{(model | async).contactEmail}}</span>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-icon>message</mat-icon>
        <span style="padding-left: 10px;flex-grow: 3;">{{(model | async).contactLineId}}</span>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="start start">
        <mat-icon>place</mat-icon>
        <span style="padding-left: 10px;flex-grow: 3;">{{(model | async).contactAddress}}</span>
    </div>
    

</div>

<div>
    <h3>ข้อมูลบริษัท</h3>
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-icon>business</mat-icon>
            <span style="padding-left: 10px;flex-grow: 3;">{{(model | async).customer?.customerName}}</span>
        </div>
    </div>
</div>